# Table of Contents 

* [Imports & Functions](#imports-and-functions)
* [Unrestricted Models](#unrestricted-models)
* [Restricted Models](#restricted-models)

# Imports & Functions <a class="anchor" id="imports-and-functions"></a>

In [71]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import scipy.stats as stats
import csv

# Results <a class="anchor" id="results"></a>

## Unrestricted Models <a class="anchor" id="unrestricted-models"></a>

### Front-month

#### Train results

In [72]:
#Baseline Models 
baseline_model_train_results_front = pd.read_csv('baseline_models_train_results_front.csv')

#MLR
lr_train_result_front = pd.read_csv('lr_front_train_results.csv')

#Random Forest
rf_pre_tuning_train_result_front = pd.read_csv('rf_pre_tuning_train_results_front.csv')
rf_post_tuning_train_result_front = pd.read_csv('rf_front_train_results.csv')

#Stacked Regressor 
stacked_reg_pre_tuning_train_result_front = pd.read_csv('train_stacked_reg_front_base_results.csv')
stacked_reg_post_tuning_train_result_front = pd.read_csv('train_stacked_reg_front_results.csv')


#RERF
rerf_pre_tuning_train_result_front = pd.read_csv('train_rerf_base_results_front.csv')
rerf_post_tuning_train_result = pd.read_csv('rerf_tuned_results_front.csv')

#### Test results

In [73]:
#Baseline Models 
baseline_models_test_results_front = pd.read_csv('baseline_models_results_front.csv')

#MLR
lr_test_result_front = pd.read_csv('lr_front_final_results.csv')

#Random Forest 
rf_pre_tuning_test_result_front = pd.read_csv('rf_pre_tuning_results_front.csv')
rf_post_tuning_test_result_front = pd.read_csv('rf_tuned_front_test_results.csv')

#Stacked Regressor 
stacked_reg_pre_tuning_test_result_front = pd.read_csv('stacked_reg_front_base_results.csv')
stacked_reg_post_tuning_test_result_front = pd.read_csv('stacked_reg_front_results.csv')

#RERF
rerf_pre_tuning_test_result_front = pd.read_csv('rerf_base_results_front.csv')
rerf_post_tuning_test_result_front = pd.read_csv('rerf_tuned_results_front.csv')

### Second-Month

#### Train Results

In [74]:
#Baseline Models 
baseline_model_train_results_second = pd.read_csv('baseline_models_train_results_second.csv')

#MLR
lr_train_result_second = pd.read_csv('lr_second_train_results.csv')

#Random Forest
rf_pre_tuning_train_result_second = pd.read_csv('rf_pre_tuning_train_results_second.csv')
rf_post_tuning_train_result_second = pd.read_csv('rf_second_train_results.csv')

#Stacked Regressor 
stacked_reg_pre_tuning_train_result_second = pd.read_csv('train_stacked_reg_second_base_results.csv')
stacked_reg_post_tuning_train_result_second = pd.read_csv('train_stacked_reg_second_results.csv')


#RERF
rerf_pre_tuning_train_result_second = pd.read_csv('train_rerf_base_results_second.csv')
rerf_post_tuning_train_result_second = pd.read_csv('train_rerf_tuned_results_second.csv')

#### Test Results

In [75]:
#Baseline Models 
baseline_models_test_results_second = pd.read_csv('baseline_models_results_second.csv')

#MLR
lr_test_result_second = pd.read_csv('lr_second_final_results.csv')

#Random Forest 
rf_pre_tuning_test_result_second = pd.read_csv('rf_pre_tuning_results_second.csv')
rf_post_tuning_test_result_second = pd.read_csv('rf_tuned_second_test_results.csv')

#Stacked Regressor 
stacked_reg_pre_tuning_test_result_second = pd.read_csv('stacked_reg_second_base_results.csv')
stacked_reg_post_tuning_test_result_second = pd.read_csv('stacked_reg_second_results.csv')

#RERF
rerf_pre_tuning_test_result_second = pd.read_csv('rerf_base_results_second.csv')
rerf_post_tuning_test_result_second = pd.read_csv('rerf_tuned_results_second.csv')

In [76]:
lr_train_result_second

,Model,MAE,RMSE,MAPE,R-squared,Adjusted R-squared
0,Linear Regression,0.01666,0.024394,0.374527,0.996159,0.996145

In [77]:
rf_pre_tuning_train_result_second

           Model      MAE      RMSE      MAPE  R-squared  Adjusted R-squared
0  Random Forest  0.00602  0.008945  0.136157   0.999476            0.999474

In [78]:
rf_post_tuning_train_result_second

           Model       MAE      RMSE      MAPE  R-squared  Adjusted R-squared
0  Random Forest  0.010799  0.016004  0.243649   0.998333            0.998327

In [79]:
stacked_reg_pre_tuning_train_result_second

,Model,MAE,RMSE,MAPE,R-squared,Adjusted R-squared
0,Stacked Regressor,0.015833,0.023182,0.356375,0.996528,0.996514

In [80]:
stacked_reg_post_tuning_train_result_second

,Model,MAE,RMSE,MAPE,R-squared,Adjusted R-squared
0,Stacked Regressor,0.016414,0.024088,0.369121,0.996254,0.99624

In [81]:
rerf_pre_tuning_train_result_second

  Model       MAE     RMSE      MAPE  R-squared  Adjusted R-squared
0  RERF  0.005828  0.00854  0.131612   0.999522             0.99952

In [82]:
rerf_post_tuning_train_result_second

  Model       MAE      RMSE      MAPE  R-squared
0  RERF  0.014303  0.020919  0.322136   0.997166

## Restricted Models <a class="anchor" id="restricted-models"></a>

### MLR

In [87]:
lr_results_front_restricted = pd.read_csv('results_front_restricted_mlr.csv')
lr_results_second_restricted = pd.read_csv('results_second_restricted_mlr.csv')

In [90]:
lr_results_front_restricted

               Metric     Train      Test
0                 MAE  0.012641  0.009386
1                RMSE  0.020735  0.013452
2                MAPE  0.287532  0.198902
3           R-squared  0.997128  0.977883
4  Adjusted R-squared  0.997124  0.977639

In [91]:
lr_results_second_restricted

               Metric     Train      Test
0                 MAE  0.017647  0.014923
1                RMSE  0.025237  0.019760
2                MAPE  0.399707  0.316676
3           R-squared  0.995789  0.952967
4  Adjusted R-squared  0.995782  0.952316

### Random Forest

In [89]:
#Pre-tuning

rf_pre_tuning_results_front_restricted = pd.read_csv('rf_results_front_restricted.csv')
rf_pre_tuning_results_second_restricted = pd.read_csv('rf_results_second_restricted.csv')

#Post-tuning 
rf_post_tuning_results_front_restricted = pd.read_csv('rf_tuned_results_front_restricted.csv')
rf_post_tuning_results_second_restricted = pd.read_csv('rf_tuned_results_second_restricted.csv')

In [92]:
rf_pre_tuning_results_front_restricted

               Metric     Train      Test
0                 MAE  0.005489  0.011301
1                RMSE  0.009796  0.015717
2                MAPE  0.123750  0.239338
3           R-squared  0.999359  0.969808
4  Adjusted R-squared  0.999358  0.969474

In [93]:
rf_pre_tuning_results_second_restricted

               Metric     Train      Test
0                 MAE  0.008397  0.018106
1                RMSE  0.012237  0.023293
2                MAPE  0.190304  0.383591
3           R-squared  0.999010  0.934644
4  Adjusted R-squared  0.999008  0.933739

In [94]:
rf_post_tuning_results_front_restricted

               Metric     Train      Test
0                 MAE  0.008606  0.011096
1                RMSE  0.014968  0.015272
2                MAPE  0.194409  0.235179
3           R-squared  0.998504  0.971493
4  Adjusted R-squared  0.998501  0.971178

In [95]:
rf_post_tuning_results_second_restricted

               Metric     Train      Test
0                 MAE  0.011866  0.017264
1                RMSE  0.017383  0.022245
2                MAPE  0.268938  0.365913
3           R-squared  0.998002  0.940392
4  Adjusted R-squared  0.997999  0.939567

### Stacked Regressor

In [97]:
#Pre-tuning 
stacked_reg_pre_tuning_result_front_restricted = pd.read_csv('stacked_reg_results_front_pre_tuning.csv')
stacked_reg_pre_tuning_result_second_restricted = pd.read_csv('stacked_reg_results_second_pre_tuning.csv')

#Post-tuning 
stacked_reg_post_tuning_result_front_restricted = pd.read_csv('stacked_reg_results_front_post_tuning.csv')
stacked_reg_post_tuning_result_second_restricted = pd.read_csv('stacked_reg_results_second_post_tuning.csv')

In [98]:
stacked_reg_pre_tuning_result_front_restricted

               Metric     Train      Test
0                 MAE  0.012249  0.009285
1                RMSE  0.019909  0.013400
2                MAPE  0.278758  0.196859
3           R-squared  0.997352  0.978053
4  Adjusted R-squared  0.997349  0.977811

In [99]:
stacked_reg_pre_tuning_result_second_restricted

               Metric     Train      Test
0                 MAE  0.016800  0.014939
1                RMSE  0.024098  0.019904
2                MAPE  0.380707  0.317109
3           R-squared  0.996161  0.952277
4  Adjusted R-squared  0.996154  0.951616

In [100]:
stacked_reg_post_tuning_result_front_restricted

               Metric     Train      Test
0                 MAE  0.012731  0.009300
1                RMSE  0.020837  0.013387
2                MAPE  0.289500  0.197086
3           R-squared  0.997100  0.978098
4  Adjusted R-squared  0.997096  0.977856

In [101]:
stacked_reg_post_tuning_result_second_restricted

               Metric     Train      Test
0                 MAE  0.017587  0.015135
1                RMSE  0.025144  0.019967
2                MAPE  0.398323  0.321151
3           R-squared  0.995820  0.951977
4  Adjusted R-squared  0.995813  0.951312

### RERF

In [103]:
#Pre-tuning

rerf_pre_tuning_result_front_restricted = pd.read_csv('rerf_results_front_pre_tuning.csv')
rerf_pre_tuning_result_second_restricted = pd.read_csv('rerf_results_second_pre_tuning.csv')

#Post-tuning 
rerf_post_tuning_result_front_restricted = pd.read_csv('rerf_results_front_post_tuning.csv')
rerf_post_tuning_result_second_restricted = pd.read_csv('rerf_results_second_post_tuning.csv')

In [104]:
rerf_pre_tuning_result_front_restricted

               Metric     Train      Test
0                 MAE  0.005315  0.013666
1                RMSE  0.009586  0.017723
2                MAPE  0.119898  0.288943
3           R-squared  0.999386  0.961608
4  Adjusted R-squared  0.999385  0.961184

In [105]:
rerf_pre_tuning_result_second_restricted

               Metric     Train      Test
0                 MAE  0.008294  0.017504
1                RMSE  0.012116  0.023254
2                MAPE  0.187889  0.371158
3           R-squared  0.999029  0.934864
4  Adjusted R-squared  0.999028  0.933962

In [106]:
rerf_post_tuning_result_front_restricted

               Metric     Train      Test
0                 MAE  0.010143  0.011545
1                RMSE  0.017010  0.015178
2                MAPE  0.229232  0.244169
3           R-squared  0.998067  0.971844
4  Adjusted R-squared  0.998064  0.971533

In [107]:
rerf_post_tuning_result_second_restricted

               Metric     Train      Test
0                 MAE  0.014966  0.015460
1                RMSE  0.021444  0.020664
2                MAPE  0.339135  0.328210
3           R-squared  0.996960  0.948568
4  Adjusted R-squared  0.996954  0.947855

## PCA Loadings

In [ ]:
pca_loadings_front = pd.read_csv('pca_loadings_front.csv')
pca_loadings_second = pd.read_csv('pca_loadings_second.csv')